doctype html
html(lang="en")
  head

    title #{title} - MyProducts
    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    header

      h1 MyProducts
    .container

        block container

    footer

      p Copyright © 2012-2014 MyProducts Inc. All Rights Reserved.